<main id="main">
<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
  

  <div class="container">


    <div class="row">
      <div class="col-lg-6" data-aos="fade-up">
        <h3 class="resume-title">Sumary</h3>
        <div class="resume-item pb-0">
          <h4>Nikunj Shah</h4>
          <p><em>Innovative and deadline-driven angualr developer with 2.5  years of experience designing implementation in angular and API integrating & performing logic according to the requiment of screen or page.</em></p>
          <ul>
            <li>+91-6355489110</li>
            <li>shahnikunjsbit@gmail.com</li>
          </ul>
        </div>

        <h3 class="resume-title">Education</h3>
        <div class="resume-item">
          <h4>SSC</h4>
          <h5>Passout-2008</h5>
          <p><em>SChool:YANSHY HIGH SCOOL</em></p>
          <p><em>Board: Gujarat board(GSEB)
            </em></p>
           </div>
        <div class="resume-item">
          <h4>Diploma IN (CSE) </h4>
          <h5>Passout-2014</h5>
          <p><em>Collage:Sigma Institute of Engineering and Technology</em></p>
          <p><em>University: Gujarat Technological University</em></p>
           </div>
        <div class="resume-item">
          <h4>Bachelor IN (CSE)</h4>
          <h5>Passout:2018</h5>
          <p><em>Collage:Babaria Institute of Technology</em></p>
          <p><em>University: Gujarat Technological University</em></p>
         
          </div>
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <h3 class="resume-title">Professional Experience</h3>
        <div class="resume-item">
          <h4>Vagisa technology </h4>
          <h3>Full Stack Developer</h3>
          <h5>23-3-2021-10-06-2022</h5>
          <p> (Angular+Asp.net web API, Asp.net mcv, NodeJS ) 
          During work the Vagisa technology ,I got in-depth  knowledge of  angular and also how to work in MVC project  and web API
            
          </p> 
         
        </div>
       
        <div class="resume-item">
          <h4>Srishti innovative</h4>
          <h3>Angular Devloper</h3>
          <h5>13-06-2022 |5-12-2022</h5>
          <p>During work the Srishti innovative ,I got in-depth  knowledge of  angular and also software and better understanding of integrating  API perform the logics
          </p> 
        </div>
        <div class="resume-item">
          <h4>Uni-abroad</h4>
          <h3>Angular Devloper</h3>
          <h5>3 Months</h5>
          <p>Uni-abroad  During work the – Uni-abroad,I got in-depth 
            knowledge of  angular 
           
          </p> 
        </div>
        <div class="resume-item">
          <h4>Lane4 Solutions</h4>
          <h3>Angular Devloper</h3>
          <h5>2 Months</h5>
          <p>Lane4 Solutions During work the – Lane4 Solutions,I got in-depth 
            knowledge of  angular and prefrom the logic according to web API request and response
           
          </p> 
        </div>
      </div>
    </div>

  </div>
  <div class="container">
    <div class="section-title">
      <h2>Starting Career </h2>
      <p>At Starting of Career in 2017 IWork with different company, Most working on theme customizing for 1 years
        During work with this different company I have theme customizing and basic of html,
        CSS, bootstrap ,basic JS. which pure Static work .So to decided to move on some dynamic work that why select angular 
        and today have total 3.5 years & out that 2.5 as an angular developer and Ready to learn new tools and technolog as I believe that IT person are always learner
        </p> 
  
      <h2>Angular:-</h2>
      <p> I can create a fresh project by installing angular and nodejs  , and creating a component, services, and integrating API and performing differentTasks.Convert HTML into the angular component. Also, work with typescript the angular as off now I am working with typescript with angular
  
        During working as a full stack developer I also create a backend in Laravel at the basic level and create an API init., so, therefore, I know the basics of Laravel, install Laravel, composer, used PHP artisan command (Note:Do don’t have hand-onexperience).
        
            </p>
        <h2>Laravel:- </h2>
        <p> During working as a full stack developer I also create a backend in Laravel at the basic level and create an API init., so, therefore, I know the basics of Laravel, install Laravel, composer, used PHP artisan command (Note:Do don’t have hand-onexperience).
          
          
        <h2> Nodejs:-</h2>
        <p>  As a developer learning new technology is required and my company allows me to learn the Nodejs,so thereforee I start learning Nodejs, I learn installation, and create API basics using MVC structure. (Note:Do don’t have hand-onexperience)
        </p>
        <h2>  Asp.Net : -</h2>
        <p>
                   
      As a full stack developer also working onn asp.net webAPI. I know how to createe MVC projects and web API
  
        </p>
    </div> 
  </div>
 
</section><!-- End Resume Section -->
</main>